---
layout: default
published: true
---


<div class="intro">
  <h2>Some ramblings about code.</h2>
  <h6><i>WordPress, PHP, Javascript</i></h6>
</div>
<hr>
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        {% for tag in post.tags %}
          <span class="label">{{ tag }}</span>
        {% endfor %}
    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}

  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
  {% endif %}

</div>
